@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


*{
  font-family: "Alan Sans", sans-serif;
}